body { 
  background: rgb(10, 13, 14);
  margin: 0;
}

.newnav{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.myfont{
  font-family: 'Monoton', cursive;
  font-size: 50px;
}

.myfontsize{
  font-family: 'Monoton', cursive;
  font-size: 20px;

}

.jumbotron{
  padding-bottom: 0;
  height: 560px;
  margin-top: 0;
  
}
.container-fluid{
  width: 100%;
}

.container{
  display: flex;
}

  h1{ 
    font-family: 'Monoton', cursive;
    color: black;
  }

  h5{
    font-family: 'Monoton', cursive;
    font-size: 30px;
  }

  p{
    font-family:'Ubuntu Condensed', sans-serif;
    color:black;
    float: right;
  }

  img {
    height: 250%;
    
    }

 
  .columns { 
      float: left;
      width: 33.33%;
      padding: 5px;
    }

  footer{
    position: relative;
    bottom: fixed;
    text-align: center;
  }
      

    @media only screen and (max-width:
    768px) {
      body{background-color: rgb(141, 228, 141);
    }
  }

  @media only screen and (max-width:
  645x) {
    body{background-color: rgb(141, 228, 141);
  }
}

@media only screen and (max-width:
  600px) {
    body{background-color: rgb(141, 228, 141);
  }
}
  /* .footer {
    position: fixed; 
    left: 0; 
    
    width: 100%;
    background-color:white;
    color: white;
    text-align: center;
  } */

  /* .mb-0 {
    background-color:white;
    text-align: center;
  }
      */
