body { 
  background: rgb(10, 13, 14);
  margin: 0;
  padding-bottom: 50px;
  
}

.newnav{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  
}

.myfont{
  font-family: 'Caveat', cursive;
  font-size: 50px;
}

.myfontsize{
  font-family: 'Caveat', cursive;
  font-size: 20px;

}

.jumbotron-fluid{
  padding-bottom: 0;
  height: 560px;
  margin-top: 0;
  width: 1000px;
  
}
.container-fluid{
  width: 100%;
}

.container{
  display: flex;
}

img{
  
  width:300px;
  height:200%;}

  
  .card-titles{
    font-family: 'Caveat', cursive;
    font-size: 35px;
  }

  h1{ 
    font-family: 'Caveat', cursive;
    color: black;
  }

  h5{
    font-family: 'Caveat', cursive;
    font-size: 30px;
  }

  p{
    font-family: 'Caveat', cursive;
    color:black;
    float: right;
    font-size: 25px;
    padding-bottom:30px;
  }

  img {
    height: 250%;
    
    }

 
  .columns { 
      float: left;
      width: 33.33%;
      padding: 5px;
    }

  footer{
      
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
   
  }
      

    @media only screen and (max-width:
    768px) {
      body{background-color: rgb(2, 2, 2);
    }
  }

  @media only screen and (max-width:
  645x) {
    body{background-color: rgb(10, 10, 10);
  }
}

 /* @media only screen and (max-width:
  300x) {
    body{background-color: rgb(255, 255, 255);
    }
  } */